body{
    background-image: linear-gradient(to bottom right, rgb(200, 198, 198), rgb(107, 253, 109));
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    height: 300px;
    border-radius: 10px;
    width: 400px;
    padding: 40px 5px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.795), rgb(218, 240, 250));
}

fieldset{
    border: none;
}

input{
    padding: 10px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.submit {
    margin-top: 20px;
    background-image: linear-gradient(to right, rgb(191, 216, 166), rgba(153, 233, 93, 0.912));
    border-radius: 10px;
    padding: 15px;
    font-weight: bold ;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: grey;
    font-size: 12px;
}

